
<!--  just below the body to put in th head tag-->
        
<link rel="stylesheet" href="/css/user_profile.css">
<!-- by set authentication -->
<div id="profile-container">
    <div>
        <div class="outer-image-container">
            <div class='image-container'>
                <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>">
            </div>

        </div>
        
        <div >
            <% if(user.id == profile_user.id){ %>
                <!-- if user matches then show the form -->
                <form id="profile-form-1" action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                    <ul id="profile-form">
                        <li id="preview-image">
                            <img src="" alt="">
                        </li>
                        <li>
                            <label for="upload-image" id="upload-button"><i class="fa-solid fa-upload"></i>UPLOAD</label>
                            <input type="file" name="avatar" placeholder="Profile Picture" id="upload-image" accept="image/*">
                        </li>
                        <li>
                            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
    
                        </li>
                        <li>
                            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" id="profile-image" required>
    
                        </li>
                        <li>
                            <input type="submit"  value="Update">
    
                        </li>
                    </ul>
                </form>
                
            <%}else{%>    
                <!-- else show only the profile info -->
                <p><%= profile_user.name %></p>
                <p><%= profile_user.email %></p>
            <%} %>
        </div>    
    
    </div>
</div>
<script src="/js/profile.js"></script>